 @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* Style inputs with type="text", select elements and textareas */


input[type=text],
input[type=email],
input[type=number],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 15px;
}

.for-labels {
    font-size: 18px;
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: rgba(31, 73, 125, 1.0);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}

#direct-contact {
    margin-top: 30px;
}
