* {
    box-sizing: border-box;
}

.main-gallery-container {
    padding-top: 2px;
}

.gallery {
    border: 1px solid #ccc;
}

.gallery img {
    width: 100%;
    top: 30px;
/*    height: auto;*/
}

.des {
    padding: 15px;
    text-align: center;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 25%;
    margin-top: 10px;
}

h1, p {
    font-family: arial;
    padding-left: 20px;
}

@media only screen and (max-width: 700px) { /* (max-width: 700px) */
    .responsive {
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}