body, html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
	padding: 0;
}

a, #logo {
	color: #FFF;
    font-size:22px;
	line-height: 32px;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
/*    height: 600px;*/
}

.main {
	margin: 0 auto;
	/*max-width: 890px;*/
    width: 100%;
    min-height: 800px;
    box-shadow: 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 8px -4px rgba(31, 73, 125, 0.8);
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: -3px;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	background-color: rgba(31, 73, 125, 1.0);
/*    position: fixed;*/
    top: 0;
    width: 100%;
}

#logo {
	display: block;
	padding: 0 30px;
	float: left;
	font-size:20px;
	line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
	
/* Positioning the navigation items inline */
nav ul li {
	display:inline-block;
	float: left;
	background-color: rgba(31, 73, 125, 1.0);
}

/* Styling the links */
nav a {
	display:block;
	padding:14px 20px;	
	color:#FFF;
	font-size:17px;
	text-decoration:none;
    margin-right: 10px;
}

nav ul li ul li:hover { 
    background: #000000;
}

/* Background color change on Hover */
nav a:hover { 
	background: #000000;
    transition: 0.5s;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 60px; 
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}

.menu {
    margin-right: 190px;
}

ul li a.active {
    background: black;
}

.gotopbtn {
    width: 50px;
    height: 50px;
    background: rgba(31, 73, 125, 1.0);
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: 680px;
    border-radius: 100%;
    line-height: 70px;
}

.footer {
    background: rgba(31, 73, 125, 1.0);
    height: 160px;
    text-align: center;
    margin-top: auto;
}

.footer li {
    display: inline-block;
    padding: 10px;
/*    line-height: 190px;*/
    margin-right: 10px;
}

.footer a {
    text-decoration: none;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
    text-decoration: underline;
}

.footer-social-icons ul li a {
    font-size: 25px;
}

/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {

	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
        position: fixed;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 14px 20px;	
		color: #FFF;
		font-size: 17px;
		text-decoration: none;
		border: none;
        font-family: 'Open Sans', sans-serif;
	}

	.toggle:hover {
		background-color: #000000;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
    }

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: #000000;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px;
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}
}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}
}

@media all and (max-width: 500px) {
    .main {
        width: auto;
    }
    
    .gotopbtn {
        margin-left: 225px;
    }
    
    img {
        width: 100%;
        margin-top: 100px;
    }
    
    .footer .footer-quick-links li {
        display: block;
    }
    
    .footer {
        height: 370px;
    }
}